.block-editor-writing-flow img[alt=""],
.block-editor-writing-flow img[alt*='.jpg'],
.block-editor-writing-flow img[alt*='.png'],
.block-editor-writing-flow img[alt*='.gif'] {
	clip-path: inset(0);
	filter: blur(8px);
	outline: 10px solid red;
	outline-offset: -10px;
	transition: filter .125s, outline .125s;
}

.block-editor-writing-flow img[alt=""]:hover,
.block-editor-writing-flow img[alt*='.jpg']:hover,
.block-editor-writing-flow img[alt*='.png']:hover,
.block-editor-writing-flow img[alt*='.gif']:hover,
img.noalt {
	filter: blur(0px) ; 
	outline: 0;
}
    
